install-openam --serverUrl http://{{ amster_install_am['serverURL'] }}:8080/am  --adminPwd {{ am_adminusrpw }}  --acceptLicense  --pwdEncKey {{ amster_encryptpw }}  --cfgStoreDirMgr 'uid=am-config,ou=admins,ou=am-config'  --cfgStoreDirMgrPwd {{ ds_rootpw }}  --cfgStore dirServer --cfgStoreHost {{ amster_ds_hostname  }} --cfgStoreAdminPort 4444 --cfgStoreSsl SSL --cfgStorePort 10636 --cfgStoreRootSuffix ou=am-config --cookieDomain {{ amster_install_am['serverURL'] }} --cfgDir {{ am_home }}/{{ am_version }}/openamcfg --userStoreDirMgr "cn=Directory Manager" --userStoreDirMgrPwd {{ ds_rootpw }}  --userStoreHost {{ amster_ds_hostname  }} --userStoreType LDAPv3ForOpenDS --userStoreSsl SSL --userStorePort 10636 --userStoreRootSuffix dc=bkwi,dc=nl
:exit
