
:load '{{ amster_home }}/{{ amster_home|basename }}-{{ amster_version }}/102-set-common-functions.amster'
:load '{{ amster_home }}/{{ amster_home|basename }}-{{ amster_version }}/101-connect_To_AM.amster'

:load '{{ amster_home }}/{{ amster_home|basename }}-{{ amster_version }}/suwinet-103-configure_realm.amster'
:load '{{ amster_home }}/{{ amster_home|basename }}-{{ amster_version }}/suwinet-104-create-J2EE_Agent.amster'
:load '{{ amster_home }}/{{ amster_home|basename }}-{{ amster_version }}/suwinet-105-create-policy-set.amster'
:load '{{ amster_home }}/{{ amster_home|basename }}-{{ amster_version }}/suwinet-106-create-policy.amster'
:load '{{ amster_home }}/{{ amster_home|basename }}-{{ amster_version }}/suwinet-107-update-identity-store.amster'
:load '{{ amster_home }}/{{ amster_home|basename }}-{{ amster_version }}/suwinet-108-set-sessionproperties.amster'

:load '{{ amster_home }}/{{ amster_home|basename }}-{{ amster_version }}/uwv-103-configure_realm.amster'
:load '{{ amster_home }}/{{ amster_home|basename }}-{{ amster_version }}/uwv-107-update-identity-store.amster'
:load '{{ amster_home }}/{{ amster_home|basename }}-{{ amster_version }}/uwv-108-set-sessionproperties.amster'

:load '{{ amster_home }}/{{ amster_home|basename }}-{{ amster_version }}/110-create-authentication-LdapTree.amster'

:quit
