install-openam --serverUrl http://{{ amster_install_am['serverURL'] }}:8080/am --adminPwd FRdemo123 --acceptLicense --cookieDomain 1.1.1.52.nip.io  --cfgStoreDirMgr ' uid=am-config,ou=admins,ou=am-config' --cfgStoreDirMgrPwd FRdemo123 --cfgStore dirServer --cfgStoreHost {{ amster_install_dsnode }} --cfgDir {{ am_home }}/{{ am_version }}/openamcfg --cfgStoreAdminPort 34444 --cfgStorePort 3389 --cfgStoreRootSuffix ou=am-config  --userStoreDirMgr 'cn=Directory Manager' --userStoreDirMgrPwd FRdemo123 --userStoreHost  {{ amster_install_dsnode  }} --userStoreType LDAPv3ForOpenDS --userStorePort 4389 --userStoreRootSuffix dc=example,dc=com
:exit