[Unit]
SourcePath={{ ds_home }}/{{ ds_home|basename }}-{{ ds_version }}/bin
Description=Config DS server
Before=runlevel5.target shutdown.target
After=
Conflicts=shutdown.target

[Service]
Type=forking
Restart=always
TimeoutSec=5min
IgnoreSIGPIPE=no
KillMode=process
GuessMainPID=no
RemainAfterExit=yes
Environment=OPENDJ_JAVA_HOME={{ adoptopenjdk_java_home }} 
ExecStart={{ ds_home }}/{{ ds_home|basename }}-{{ ds_version }}/bin/dsconfig-init.sh start
ExecStop={{ ds_home }}/{{ ds_home|basename }}-{{ ds_version }}/bin/dsconfig-init.sh stop

[Install]
WantedBy=multi-user.target
