{
  "name": "121-ipwhitelisting-<%= @app %>",
  "condition": "${(request.uri.host == '<%= @frontendhost %>' and (<%= @ig_condition %>))}",
  "handler": "IPWhitelistChain",
  "heap": [
    {
      "name": "IPWhitelistChain",
      "type": "Chain",
      "config": {
        "handler": "ReverseProxyHandler",
        "filters": [
          "IPWhitelistPathReqFilter"
        ]
      }
    },
    {
      "name": "IPWhitelistPathReqFilter",
      "type": "StaticRequestFilter",
      "config": {
        "method": "GET",
        "uri": "${common.backendURI['<%= @app %>']}${request.uri.path}"
      }
    }
  ]
}
