{
	"handler": {
		"type" : "Router",
		"name" : "_Router"
	},
	"properties": {
		"common": {
			"$location":"${{ ig_home_version }}/.openig/config/properties.json"
		},
		"ipwhitelist": {
			"$location":"${{ ig_home_version }}/.openig/config//ipwhitelistproperties.json"
		}
	},
	"heap": [{
		"name":"capture",
		"type":"CaptureDecorator",
		"config": {
			"captureEntity" :true,
			"captureContext": true
		}
	}]
}
