[Unit]
SourcePath={{ opends_home }}/{{ opends_version }}/config/opendj/bin
Description=Config DS server
Before=runlevel5.target shutdown.target
After=
Conflicts=shutdown.target

[Service]
Type=forking
Restart=always
TimeoutSec=5min
IgnoreSIGPIPE=no
KillMode=process
GuessMainPID=no
RemainAfterExit=yes
Environment=OPENDJ_JAVA_HOME={{ adoptopenjdk_java_home }} 
ExecStart={{ opends_home }}/{{ opends_version }}/config/opendj/bin/dsconfig-init.sh start
ExecStop={{ opends_home }}/{{ opends_version }}/config/opendj/bin/dsconfig-init.sh stop

[Install]
WantedBy=multi-user.target
