
:load '{{ amster_scripts_dir }}/102-set-common-functions.amster'
:load '{{ amster_scripts_dir }}/101-connect_To_AM.amster'

:load '{{ amster_scripts_dir }}/suwinet-103-configure_realm.amster'
:load '{{ amster_scripts_dir }}/suwinet-104-create-J2EE_Agent.amster'
:load '{{ amster_scripts_dir }}/suwinet-105-create-policy-set.amster'
:load '{{ amster_scripts_dir }}/suwinet-106-create-policy.amster'
:load '{{ amster_scripts_dir }}/suwinet-107-update-identity-store.amster'
:load '{{ amster_scripts_dir }}/suwinet-108-set-sessionproperties.amster'

:load '{{ amster_scripts_dir }}/uwv-103-configure_realm.amster'
:load '{{ amster_scripts_dir }}/uwv-107-update-identity-store.amster'
:load '{{ amster_scripts_dir }}/uwv-108-set-sessionproperties.amster'

:load '{{ amster_scripts_dir }}/110-create-authentication-LdapTree.amster'
:load '{{ amster_scripts_dir }}/401-set-global-locale.amster'
:load '{{ amster_scripts_dir }}/112-configure-top-level-realm.amster'
:quit
