{{ ansible_managed|comment(decoration="// ") }}
{{ item|c2platform.forgerock.amster_script_header|comment(decoration="// ") }}
:load 101-connect_To_AM.amster
:load 102-set-common-functions.amster
try {
{{ lookup('template', './params.groovy.j2')|indent(2, True) }}

  BODY="""
{{ am_amster_templates[item['template']]['body']|to_nice_json|indent(4, True) }}
  """
  currentLdapModule = eval("read LdapModule --realm $realmName --id $moduleName")
  if (isNull(currentLdapModule)) {
      println red("Unable to update Ldap Module as it cannot be read")
  } else {
      println cyan("Update Ldap Module with the following bind user dn: ${userBindDN}")
      slurped = new groovy.json.JsonSlurper().parseText(currentLdapModule)
      if (slurped.userSearchStartDN.contains(userSearchStartDN)) {
          println cyan("Nothing to do")
      } else {
          eval("update LdapModule --realm $realmName --id $moduleName --body '$BODY'")
          println green("{{ am_amster_stdout_tags['changed'] }} Ldap Module updated")
      }
  }
} catch(Exception e) {
   println("{{ am_amster_stdout_tags['error'] }} ${e.getMessage()} ")
}
:quit

/* deze hangt
 :load s14-113-ldap-module-usersearchstartdn.amster
root@bkd-am:/opt/amster/amster# ./amster s14-113-ldap-module-usersearchstartdn.amster 
WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by org.codehaus.groovy.reflection.CachedClass (file:/opt/amster/amster-6.5.3/amster-6.5.3.jar) to method java.lang.Object.clone()
WARNING: Please consider reporting this to the maintainers of org.codehaus.groovy.reflection.CachedClass
WARNING: Use --illegal-access=warn to enable warnings of further illegal reflective access operations
WARNING: All illegal access operations will be denied in a future release
Amster OpenAM Shell (6.5.3 build fd13bbcf96, JVM: 11.0.4)
Type ':help' or ':h' for help.
-------------------------------------------------------------------------------------------------------------
am> :load s14-113-ldap-module-usersearchstartdn.amster
===> true
===> true
===> true
===> true
===> true
===> true
===> true
===> true
===> true
===> true
===> true
===> true
===> true
===> true
===> true
===> true
===> true
===> true
Parameters
=========================================================

root@bkd-am:/opt/amster/amster# 
*/

/* die hangt dan op
  currentLdapModule = eval("read LdapModule --realm $realmName --id $moduleName")
read LdapModule --realm Realm --id id
*/