{{ ansible_managed|comment(decoration="// ") }}
{{ item|c2platform.forgerock.amster_script_header|comment(decoration="// ") }}
:load 101-connect_To_AM.amster
:load 102-set-common-functions.amster
try {
{{ lookup('template', './params.groovy.j2')|indent(2, True) }}
    println("Configure global signing secret")
    signingSecret = "$sharedSecret"
    // GET current configuration of AUTHENTICATION
    currentAuthentication = eval("read Authentication --global".toString())
    if (isNull(currentAuthentication)) {
        println("Unable to update global authentication configuration as it cannot be read")
    } else {
        println("Update global authentication configuration with the sigining secret")
        slurped = new groovy.json.JsonSlurper().parseText(currentAuthentication)
        if (slurped.defaults.security.sharedSecret?.contains(signingSecret)) {
            println cyan("Nothing to do")
        } else {
            slurped.defaults.security.sharedSecret = signingSecret
            bodyBuilder = new groovy.json.JsonBuilder();
            bodyBuilder 'defaults': slurped.defaults
            println("{{ am_amster_stdout_tags['changed'] }} signingSecret updated")
            eval("update Authentication --global --body '$bodyBuilder'")
        }
    }
} catch(Exception e) {
   println("{{ am_amster_stdout_tags['error'] }} ${e.getMessage()} ")
}
:quit
