{{ ansible_managed|comment(decoration="// ") }}
{{ item|c2platform.forgerock.amster_script_header|comment(decoration="// ") }}
:load 101-connect_To_AM.amster
:load 102-set-common-functions.amster
try {
{{ lookup('template', './params.groovy.j2')|indent(2, True) }}

  BODY="""
{{ am_amster_templates[item['template']]['body']|to_nice_json|indent(4, True) }}
  """
  currentLdapModule = eval("read LdapModule --realm $realmName --id $moduleName")
  if (isNull(currentLdapModule)) {
      println red("{{ am_amster_stdout_tags['error'] }} Unable to update Ldap Module as it cannot be read")
  } else {
      slurped = new groovy.json.JsonSlurper().parseText(currentLdapModule)
      newLdapModule = eval("update LdapModule --realm $realmName --id $moduleName --body '$BODY'")
      if (resourceChange(currentLdapModule, newLdapModule)) {
        println(green("{{ am_amster_stdout_tags['changed'] }}  LDAP Module updated"))
      }
  }
} catch(Exception e) {
   println("{{ am_amster_stdout_tags['error'] }} ${e.getMessage()} ")
}
:quit
