// SET all variables needed for SAML
amsterVersion=System.getenv("am_amster_version")
realmName=System.getenv("OPENAM_REALM")
cotName=System.getenv("OPENAM_COT")

// SET all variables for file and dir names
fileCot=System.getenv("AMSTER_COT_FILE")
dirSaml=System.getenv("SAML_DIR")

// Load utils for amster
:load '{{ am_amster_scripts_dir }}/102-set-common-functions.amster'

// Connect to AM via amster
:load '{{ am_amster_scripts_dir }}/101-connect_To_AM.amster'

// Create federation module
:load '{{ am_amster_scripts_dir }}/208-function_create_federation_module.amster'

// Start working on SAML
:load '{{ am_amster_scripts_dir }}/209-function_load_all_saml.amster'

// Work on authentication settings
:load '{{ am_amster_scripts_dir }}/210-function-load-authentication-settings.amster'

eval(":exit")
