{{ ansible_managed|comment(decoration="// ") }}
{{ item|c2platform.forgerock.amster_script_header|comment(decoration="// ") }}
:load 101-connect_To_AM.amster
:load 102-set-common-functions.amster
try {
{{ lookup('template', './params.groovy.j2')|indent(2, True) }}

    // GET Fedration Module
    currentModule = eval("read FederationModule --realm '$realmName' --id Federation")
    if (!isNull(currentModule)) {
        // Already there!
        println("No need to create FederationModule as is already there in realm $realmName")
    } else {
        // Create the needed Federation Module
        println("No FederationModule found. Building JSON for Module")
        bodyBuilder = new groovy.json.JsonBuilder()
        bodyBuilder {
            _id 'Federation'
        }

        println("Creating FederationModule")
        currentModule = eval("create FederationModule --realm $realmName --id Federation --body '$bodyBuilder'")
        if (isNull(currentModule)) {
            println("{{ am_amster_stdout_tags['error'] }} Creation was unsuccessful")
        } else {
            println("{{ am_amster_stdout_tags['changed'] }} Creation was successful. DONE.")
        }
    }
} catch(Exception e) {
   println("{{ am_amster_stdout_tags['error'] }} ${e.getMessage()} ")
}
:quit