{{ ansible_managed|comment(decoration="// ") }}
{{ item|c2platform.forgerock.amster_script_header|comment(decoration="// ") }}
:load 101-connect_To_AM.amster
:load 102-set-common-functions.amster
try {
{{ lookup('template', './params.groovy.j2')|indent(2, True) }}

    ignoreProfile = "ignore"

    // GET Realm
    currentRealm = eval("read Realms --global --id '${("/" + realmName).bytes.encodeBase64().toString()}'".toString())
    if (isNull(currentRealm)) {
        println("{{ am_amster_stdout_tags['error'] }} Unable to update COT as the realm $realmName is unknown")
    } else {
        currentAuthenticationSettings = eval("read Authentication --realm $realmName")
        if (isNull(currentAuthenticationSettings)) {
            println("{{ am_amster_stdout_tags['error'] }} there should be authentication settings already present!")
        } else {
            println("Update Authentication Settings")
            slurped = new groovy.json.JsonSlurper().parseText(currentAuthenticationSettings)
            if (slurped.userprofile.dynamicProfileCreation.contains(ignoreProfile)) {
                println("Do nothing")
            } else {
                slurped.userprofile.dynamicProfileCreation = ignoreProfile
                bodyBuilder = new groovy.json.JsonBuilder();
                bodyBuilder 'userprofile': slurped.userprofile
                eval("update Authentication --realm $realmName --body '$bodyBuilder'")
                println("{{ am_amster_stdout_tags['changed'] }} authentication updated")
            }
        }
    }
} catch(Exception e) {
   println("{{ am_amster_stdout_tags['error'] }} ${e.getMessage()} ")
}
:quit