{{ ansible_managed|comment(decoration="// ") }}
connect {{ amster_am_connect|c2platform.forgerock.ds_cmd }} {{ amster_am_install['serverUrl'] }}
{{ am_amster_common_functions }}
try {
  {{ lookup('template', './params.groovy.j2')|indent(2, True) }}
  BODY="""
  {
  "amconfig.header.cookie":{
  "com.iplanet.am.cookie.name":"$cookieName",
  "com.iplanet.am.cookie.secure":true}
  }
  """;
  if(isNull(eval("update DefaultSecurityProperties --global --body '$BODY'"))){
          println red("{{ am_amster_stdout_tags['error'] }} changing the security settings")
  } else {
          println green("{{ am_amster_stdout_tags['changed'] }} the security settings to the correct values")
  }
} catch(Exception e) {
   println("{{ am_amster_stdout_tags['error'] }} ${e.getMessage()} ")
}
:quit
