{{ ansible_managed|comment(decoration="// ") }}
{{ item|c2platform.forgerock.amster_script_header|comment(decoration="// ") }}
try {
    BODY="""
    {
    "amconfig.header.cookie":{
    "com.iplanet.am.cookie.name":"$cookieName",
    "com.iplanet.am.cookie.secure":true}
    }
    """;
    cur_prop = eval("read DefaultSecurityProperties --global")
    upd_prop = eval("update DefaultSecurityProperties --global --body '$BODY'")
    new_prop = eval("read DefaultSecurityProperties --global")
    if(isNull(upd_prop)){
       println red("{{ am_amster_stdout_tags['error'] }} in settings the properties.")
    } else {
      println green("Setting the default locale was successful.")
    }
    if (resourceChange(cur_prop, new_prop, true)) {
       println("{{ am_amster_stdout_tags['changed'] }} com.iplanet.am.cookie.name $cookieName was set")
    }
} catch(Exception e) {
    println("{{ am_amster_stdout_tags['error'] }} ${e.getMessage()} ")
}
