{{ ansible_managed|comment(decoration="// ") }}
{{ item|c2platform.forgerock.amster_script_header|comment(decoration="// ") }}
try {
   BODY="""{
      "amconfig.header.installdir": {
      "com.iplanet.am.locale": "$locale"}}""";
   cur_prop = eval("read DefaultGeneralProperties --global")
   if(isNull(eval("update DefaultGeneralProperties --global --body '$BODY'"))){
      println red("{{ am_amster_stdout_tags['error'] }} in settings the properties.")
   } else {
     println green("Setting the default locale was successful.")
   }
   new_prop = eval("read DefaultGeneralProperties --global")
   if (resourceChange(cur_prop, new_prop, true)) {
      println green("{{ am_amster_stdout_tags['changed'] }} in settings the properties.")
   }
} catch(Exception e) {
   println("{{ am_amster_stdout_tags['error'] }} ${e.getMessage()} ")
}
