println blue("401")

BODY="""{
   "amconfig.header.installdir": {
   "com.iplanet.am.locale": "nl_NL"}}""";


if(isNull(eval("update DefaultGeneralProperties --global --body '$BODY'"))){
   println red("Error in settings the properties.")
} else {
  println green("Setting the default locale was successful.")
}

println blue("AND 401 is ready")