{{ ansible_managed|comment(decoration="// ") }}
{{ item|c2platform.forgerock.amster_script_header|comment(decoration="// ") }}
try {
    BODY="""{
        "_id":"",
        "cookieDomains":$cookieDomains,
        "locale":"en_US",
        "_type":{
        "_id":"platform",
        "name":"Platform",
        "collection":false
        }
    }"""

    platform_cur=eval("read Platform --global")
    if(isNull(eval("update Platform --global --body '$BODY'"))){
        println red("{{ am_amster_stdout_tags['error'] }} in reading the platform settings")
    }else{
        println green("reading the platform was successful")
    }
    platform_new=eval("read Platform --global")
    if (resourceChange(platform_cur,platform_new)) {
      println green("{{ am_amster_stdout_tags['changed'] }} cookieDomains was changed")
    }
} catch(Exception e) {
   println("{{ am_amster_stdout_tags['error'] }} ${e.getMessage()} ")
}
